.page-title {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0.1rem;
    border-radius: 0.5rem;
}

.title-light { 
    background-color: var(--black-bga-theme);
    color: var(--st-white);
}

.title-dark {
    background-color: var(--white-bga-theme);
    color: var(--st-black);
}